.selector-for-some-widget {
    box-sizing: content-box;
  }
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.carousel-image {
    height: 600px;
    object-fit: cover;
}

.icon-img {
    height: 40px;
    width: 40px;

}